In [1]:
import openna

The location is /media/sj52/Database/linux/script/openna
4.184

In [2]:
test = openna.RNA()

In [3]:
test.parseConfigurationFile(configuration_file=f'./openna.conf')

In [4]:
test = test.fromPDB('fiber-ssRNA.pdb')

In [5]:
test.computeTopology

In [6]:
test.bonds

    name  aai  aaj nucleic  i  j  s1        r0       Kb2  Kb3        Kb4
0      0    3    4     RNA  P  S   0  4.628545  0.143403    0  14.340344
1      0    6    7     RNA  P  S   0  4.628039  0.143403    0  14.340344
2      0    9   10     RNA  P  S   0  4.628012  0.143403    0  14.340344
3      0   12   13     RNA  P  S   0  4.628001  0.143403    0  14.340344
4      0   15   16     RNA  P  S   0  4.628039  0.143403    0  14.340344
5      0   18   19     RNA  P  S   0  4.628153  0.143403    0  14.340344
6      0   21   22     RNA  P  S   0  4.628093  0.143403    0  14.340344
7      0   24   25     RNA  P  S   0  4.627876  0.143403    0  14.340344
8      0   27   28     RNA  P  S   0  4.627970  0.143403    0  14.340344
9      0   30   31     RNA  P  S   0  4.627845  0.143403    0  14.340344
10     1    1    3     RNA  S  P   1  3.752023  0.143403    0  14.340344
11     1    4    6     RNA  S  P   1  3.752005  0.143403    0  14.340344
12     1    7    9     RNA  S  P   1  3.752053  0.143403    0  14.340344
13     1   10   12     RNA  S  P   1  3.752013  0.143403    0  14.340344
14     1   13   15     RNA  S  P   1  3.752144  0.143403    0  14.340344
15     1   16   18     RNA  S  P   1  3.752049  0.143403    0  14.340344
16     1   19   21     RNA  S  P   1  3.752069  0.143403    0  14.340344
17     1   22   24     RNA  S  P   1  3.752064  0.143403    0  14.340344
18     1   25   27     RNA  S  P   1  3.751835  0.143403    0  14.340344
19     1   28   30     RNA  S  P   1  3.751931  0.143403    0  14.340344
20     2    1    0     RNA  S  A   0  4.669678  0.143403    0  14.340344
21     2    4    2     RNA  S  A   0  4.669718  0.143403    0  14.340344
22     2    7    5     RNA  S  A   0  4.669734  0.143403    0  14.340344
23     3   16   14     RNA  S  U   0  4.136071  0.143403    0  14.340344
24     3   19   17     RNA  S  U   0  4.135912  0.143403    0  14.340344
25     3   22   20     RNA  S  U   0  4.136262  0.143403    0  14.340344
26     4   10    8     RNA  S  G   0  4.795272  0.143403    0  14.340344
27     4   13   11     RNA  S  G   0  4.795374  0.143403    0  14.340344
28     5   25   23     RNA  S  C   0  4.090865  0.143403    0  14.340344
29     5   28   26     RNA  S  C   0  4.091108  0.143403    0  14.340344
30     5   31   29     RNA  S  C   0  4.091120  0.143403    0  14.340344

In [7]:
test.particle_definition

   nucleic name   epsilon  radius      mass  charge
0      RNA    P  0.239006     4.5   94.9696    -0.6
1      RNA    S  0.239006     6.2   99.1094     0.0
2      RNA    A  0.239006     5.4  134.1220     0.0
3      RNA    U  0.239006     7.1  109.0620     0.0
4      RNA    G  0.239006     4.9  150.1214     0.0
5      RNA    C  0.239006     6.4  110.0964     0.0
6      DNA    P  0.239006     4.5   94.9696    -0.6
7      DNA    S  0.239006     6.2   83.1104     0.0
8      DNA    A  0.239006     5.4  134.1220     0.0
9      DNA    T  0.239006     7.1  125.1078     0.0
10     DNA    G  0.239006     4.9  150.1214     0.0
11     DNA    C  0.239006     6.4  110.0964     0.0

In [8]:
test2 = openna.RNA.fromPDB('fiber-ssRNA.pdb')

In [9]:
test2.computeTopology

In [10]:
test2.bonds

    name  aai  aaj nucleic  i  j  s1        r0       Kb2  Kb3        Kb4
0      0    3    4     RNA  P  S   0  4.628545  0.143403    0  14.340344
1      0    6    7     RNA  P  S   0  4.628039  0.143403    0  14.340344
2      0    9   10     RNA  P  S   0  4.628012  0.143403    0  14.340344
3      0   12   13     RNA  P  S   0  4.628001  0.143403    0  14.340344
4      0   15   16     RNA  P  S   0  4.628039  0.143403    0  14.340344
5      0   18   19     RNA  P  S   0  4.628153  0.143403    0  14.340344
6      0   21   22     RNA  P  S   0  4.628093  0.143403    0  14.340344
7      0   24   25     RNA  P  S   0  4.627876  0.143403    0  14.340344
8      0   27   28     RNA  P  S   0  4.627970  0.143403    0  14.340344
9      0   30   31     RNA  P  S   0  4.627845  0.143403    0  14.340344
10     1    1    3     RNA  S  P   1  3.752023  0.143403    0  14.340344
11     1    4    6     RNA  S  P   1  3.752005  0.143403    0  14.340344
12     1    7    9     RNA  S  P   1  3.752053  0.143403    0  14.340344
13     1   10   12     RNA  S  P   1  3.752013  0.143403    0  14.340344
14     1   13   15     RNA  S  P   1  3.752144  0.143403    0  14.340344
15     1   16   18     RNA  S  P   1  3.752049  0.143403    0  14.340344
16     1   19   21     RNA  S  P   1  3.752069  0.143403    0  14.340344
17     1   22   24     RNA  S  P   1  3.752064  0.143403    0  14.340344
18     1   25   27     RNA  S  P   1  3.751835  0.143403    0  14.340344
19     1   28   30     RNA  S  P   1  3.751931  0.143403    0  14.340344
20     2    1    0     RNA  S  A   0  4.669678  0.143403    0  14.340344
21     2    4    2     RNA  S  A   0  4.669718  0.143403    0  14.340344
22     2    7    5     RNA  S  A   0  4.669734  0.143403    0  14.340344
23     3   16   14     RNA  S  U   0  4.136071  0.143403    0  14.340344
24     3   19   17     RNA  S  U   0  4.135912  0.143403    0  14.340344
25     3   22   20     RNA  S  U   0  4.136262  0.143403    0  14.340344
26     4   10    8     RNA  S  G   0  4.795272  0.143403    0  14.340344
27     4   13   11     RNA  S  G   0  4.795374  0.143403    0  14.340344
28     5   25   23     RNA  S  C   0  4.090865  0.143403    0  14.340344
29     5   28   26     RNA  S  C   0  4.091108  0.143403    0  14.340344
30     5   31   29     RNA  S  C   0  4.091120  0.143403    0  14.340344

In [11]:
import system
test.periodic=False
s=system.System(test, periodicBox=None)

In [12]:
import simtk.openmm.app
import simtk.openmm
import simtk.unit as unit
import configparser
import numpy as np
import itertools
import scipy.spatial.distance as sdist
import os
import pdbfixer
import pandas
import subprocess
import nose

In [13]:
import simtk.openmm
pdb=simtk.openmm.app.PDBFile('clean.pdb')
top=pdb.topology
coord=pdb.positions
forcefield=simtk.openmm.app.ForceField(openna.xml)
s=forcefield.createSystem(top)

In [14]:
import force
allforces = dict(Backbone=force.Backbone)

for eachone in allforces:
    force_now = allforces[eachone](test)
    s.addForce(force_now)

In [15]:
import numpy as np
temperature=300 * simtk.openmm.unit.kelvin
#platform_name='CUDA'

platform_name='Reference'

integrator = simtk.openmm.LangevinIntegrator(temperature, 1 / simtk.openmm.unit.picosecond, 2 * simtk.openmm.unit.femtoseconds)
platform = simtk.openmm.Platform.getPlatformByName(platform_name)
simulation = simtk.openmm.app.Simulation(top, s, integrator, platform)
simulation.context.setPositions(coord)
energy_unit=simtk.openmm.unit.kilojoule_per_mole
state = simulation.context.getState(getEnergy=True)
energy = state.getPotentialEnergy().value_in_unit(energy_unit)
print(energy)

3.7472714819785936e-06

In [16]:
energy_unit=simtk.openmm.unit.kilojoule_per_mole
state = simulation.context.getState(getEnergy=True)
energy = state.getPotentialEnergy().value_in_unit(energy_unit)
print('TotalEnergy',round(energy,6),energy_unit.get_symbol())

TotalEnergy 4e-06 kJ/mol

In [24]:
energies = {}
for force_name, force in allforces.items():
    #print(force)
    #force.getForceGroup(force)
    group=force.getForceGroup()
    state = simulation.context.getState(getEnergy=True, groups=2**group)
    energies[force_name] =state.getPotentialEnergy().value_in_unit(energy_unit)

for force_name in allforces.keys():
    print(force_name, round(energies[force_name],6),energy_unit.get_symbol())

TypeError: getForceGroup() missing 1 required positional argument: 'self'

In [25]:
import sys
dcd_reporter=simtk.openmm.app.DCDReporter(f'output.dcd', 1000)
energy_reporter=simtk.openmm.app.StateDataReporter(sys.stdout, 1000, step=True,time=True,
                                                   potentialEnergy=True, temperature=True)
simulation.reporters.append(dcd_reporter)
simulation.reporters.append(energy_reporter)

In [26]:
#Run simulation
simulation.minimizeEnergy()
simulation.context.setVelocitiesToTemperature(temperature)
simulation.step(10000)

#"Step","Time (ps)","Potential Energy (kJ/mole)","Temperature (K)"
1000,2.0000000000000013,12.700080319506364,352.4492837771663
2000,3.999999999999781,15.767698615829975,337.1794302002013
3000,5.999999999999561,15.889209226999746,278.0777867606791
4000,7.999999999999341,23.196150728561506,352.69226560117596
5000,10.000000000000009,28.74196232460054,376.138703178054
6000,12.000000000000677,21.77885939525941,342.4287951833047
7000,14.000000000001345,23.74190620794825,268.8914169043224
8000,16.00000000000201,28.69850361111442,304.0840767099145
9000,18.000000000000902,20.26819257955847,268.9897563352737
10000,19.999999999999794,12.161115012367814,274.46471293381654